# Ignore libs folder recursively
libs/

# Ignore node_modules
node_modules/

# Ignore other common folders that shouldn't be formatted
build/
coverage/
*.min.js
*.min.css
dist/
dist-electron/
docs/docusaurus/**/**
docs/packages/

# Ignore Change Logs
**/CHANGELOG.md

# Ignore package in electron-app
electron-app/package.json
electron-app/package-lock.json
package-lock.json
package.json

# Ignore specific files
**/coverage-results.json