{
    "$schema": "https://www.schemastore.org/prettierrc.json",
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "checkIgnorePragma": false,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "auto",
    "escapeNonLatin1": false,
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": false,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "objectWrap": "preserve",
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "plugins": [
        "@softonus/prettier-plugin-duplicate-remover"
    ],
    "overrides": [
        {
            "files": [
                "*.js",
                "*.jsx",
                "*.ts",
                "*.tsx",
                "*.mjs",
                "*.cjs"
            ],
            "options": {
                "plugins": [
                    "prettier-plugin-jsdoc",
                    "prettier-plugin-interpolated-html-tags",
                    "prettier-plugin-tailwindcss",
                    "prettier-plugin-merge"
                ],
                "jsdocCapitalizeDescription": true,
                "jsdocCommentLineStrategy": "keep",
                "jsdocDescriptionTag": false,
                "jsdocDescriptionWithDot": false,
                "jsdocKeepUnParseAbleExampleIndent": true,
                "jsdocLineWrappingStyle": "greedy",
                "jsdocPreferCodeFences": true,
                "jsdocPrintWidth": 80,
                "jsdocSeparateReturnsFromParam": true,
                "jsdocSeparateTagGroups": true,
                "jsdocSpaces": 1,
                "jsdocVerticalAlignment": false,
                "tsdoc": true,
                "tailwindFunctions": [
                    "clsx",
                    "cva",
                    "tw"
                ],
                "tailwindPreserveDuplicates": false,
                "tailwindPreserveWhitespace": false,
                "tailwindStylesheet": "./src/index.css"
            }
        },
        {
            "files": "*.css",
            "options": {
                "plugins": [
                    "prettier-plugin-tailwindcss"
                ],
                "printWidth": 80,
                "tailwindPreserveDuplicates": false,
                "tailwindPreserveWhitespace": false,
                "tailwindStylesheet": "./src/index.css"
            }
        },
        {
            "files": "eslint.config.mjs",
            "options": {}
        },
        {
            "files": "*.user.css",
            "options": {
                "plugins": [
                    "prettier-plugin-tailwindcss"
                ],
                "printWidth": 80,
                "tailwindPreserveDuplicates": false,
                "tailwindPreserveWhitespace": false,
                "tailwindStylesheet": "./src/index.css"
            }
        },
        {
            "files": "tsconfig.*",
            "options": {
                "plugins": [
                    "prettier-plugin-sort-json"
                ],
                "jsonRecursiveSort": false,
                "jsonSortOrder": "{\"*\": \"numeric\"}"
            }
        },
        {
            "files": "*.styl",
            "options": {
                "parser": "stylus"
            }
        },
        {
            "files": "*.xml",
            "options": {
                "plugins": [
                    "@prettier/plugin-xml"
                ],
                "printWidth": 140,
                "xmlQuoteAttributes": "double",
                "xmlSelfClosingSpace": true,
                "xmlSortAttributesByKey": false,
                "xmlWhitespaceSensitivity": "preserve"
            }
        },
        {
            "files": "*.html",
            "options": {
                "plugins": [
                    "@awmottaz/prettier-plugin-void-html",
                    "prettier-plugin-tailwindcss",
                    "prettier-plugin-merge"
                ],
                "htmlWhitespaceSensitivity": "strict",
                "printWidth": 80,
                "singleAttributePerLine": true,
                "tailwindFunctions": [
                    "clsx",
                    "cva",
                    "tw"
                ],
                "tailwindPreserveDuplicates": false,
                "tailwindPreserveWhitespace": false,
                "tailwindStylesheet": "./src/index.css"
            }
        },
        {
            "files": "*.user.js",
            "options": {
                "printWidth": 80
            }
        },
        {
            "files": "*.md",
            "options": {
                "plugins": [
                    "prettier-plugin-sort-json",
                    "prettier-plugin-jsdoc",
                    "prettier-markdown-table",
                    "prettier-plugin-merge"
                ],
                "tabWidth": 1
            }
        },
        {
            "files": "*.mdx",
            "options": {
                "plugins": [
                    "prettier-plugin-sort-json",
                    "prettier-plugin-jsdoc"
                ],
                "printWidth": 100,
                "tabWidth": 2
            }
        },
        {
            "files": "*.toml",
            "options": {
                "plugins": [
                    "prettier-plugin-toml"
                ],
                "printWidth": 120,
                "tabWidth": 4
            }
        },
        {
            "files": "*.json",
            "options": {
                "plugins": [
                    "prettier-plugin-sort-json"
                ],
                "jsonRecursiveSort": false,
                "jsonSortOrder": "{\"*\": \"numeric\"}"
            }
        },
        {
            "files": "*.sql",
            "options": {
                "plugins": [
                    "prettier-plugin-sql"
                ],
                "language": "sqlite"
            }
        },
        {
            "files": "*.sh",
            "options": {
                "plugins": [
                    "prettier-plugin-sh"
                ]
            }
        },
        {
            "files": "*.properties",
            "options": {
                "plugins": [
                    "prettier-plugin-properties"
                ]
            }
        },
        {
            "files": "*.ini",
            "options": {
                "plugins": [
                    "prettier-plugin-ini"
                ],
                "iniSpaceAroundEquals": true,
                "keySeparator": " = "
            }
        },
        {
            "files": "**/package.json",
            "options": {
                "plugins": [
                    "prettier-plugin-packagejson"
                ],
                "requirePragma": true
            }
        },
        {
            "files": "**/package-lock.json",
            "options": {
                "requirePragma": true
            }
        },
        {
            "files": [
                "historyManipulation.test.ts",
                "cache.test.ts"
            ],
            "options": {
                "plugins": [
                    "prettier-plugin-jsdoc"
                ],
                "alignComments": true,
                "alignEntries": true,
                "allowedBlankLines": 1,
                "arrayAutoCollapse": false,
                "arrayAutoExpand": true,
                "compactArrays": false,
                "compactEntries": false,
                "compactInlineTables": false,
                "indentEntries": true,
                "indentTables": true,
                "reorderKeys": true
            }
        }
    ]
}
