{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": false,
    "plugins": [
        "prettier-plugin-jsdoc",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-multiline-arrays"
    ],
    "tsdoc": true,
    "jsdocPreferCodeFences": true,
    "tailwindStylesheet": "./src/index.css",
    "multilineArraysWrapThreshold": 4,
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "css",
                "printWidth": 120
            }
        },
        {
            "files": "*.user.css",
            "options": {
                "parser": "css",
                "printWidth": 120
            }
        },
        {
            "files": "*.styl",
            "options": {
                "parser": "stylus"
            }
        },
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.user.js",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 1
            }
        },
        {
            "files": [
                "**/package.json",
                "**/package-lock.json"
            ],
            "options": {
                "requirePragma": true
            }
        }
    ]
}
