---
$schema: "https://www.schemastore.org/yamllint.json"
extends: default
ignore: |
    node_modules
    **/node_modules/*
    **/node_modules/**
    Build.yml
    codeql.yml
    release-stats.yml
    updateChangeLogs.yml
    .yamllint
    kics.yaml
    ActionLint.yml
rules:
    braces:
        level: warning
        max-spaces-inside: 5
    brackets:
        level: warning
        max-spaces-inside: 20
    colons:
        level: warning
    commas:
        level: warning
    comments: disable
    comments-indentation: disable
    document-start: disable
    empty-lines:
        level: warning
    hyphens:
        level: warning
    indentation:
        level: warning
        indent-sequences: consistent
    line-length:
        level: warning
        allow-non-breakable-inline-mappings: true
    truthy: disable
