# Interface: ValidationResult

Defined in: [shared/validation/schemas.ts:118](https://github.com/Nick2bad4u/Uptime-Watcher/blob/dca5483e793478722cd3e6e125cafcec5fc771f0/shared/validation/schemas.ts#L118)

## Properties

### data?

> `optional` **data**: `unknown`

Defined in: [shared/validation/schemas.ts:119](https://github.com/Nick2bad4u/Uptime-Watcher/blob/dca5483e793478722cd3e6e125cafcec5fc771f0/shared/validation/schemas.ts#L119)

***

### errors

> **errors**: `string`[]

Defined in: [shared/validation/schemas.ts:120](https://github.com/Nick2bad4u/Uptime-Watcher/blob/dca5483e793478722cd3e6e125cafcec5fc771f0/shared/validation/schemas.ts#L120)

***

### metadata

> **metadata**: [`Record`](https://www.typescriptlang.org/docs/handbook/utility-types.html#recordkeys-type)\<`string`, `unknown`\>

Defined in: [shared/validation/schemas.ts:121](https://github.com/Nick2bad4u/Uptime-Watcher/blob/dca5483e793478722cd3e6e125cafcec5fc771f0/shared/validation/schemas.ts#L121)

***

### success

> **success**: `boolean`

Defined in: [shared/validation/schemas.ts:122](https://github.com/Nick2bad4u/Uptime-Watcher/blob/dca5483e793478722cd3e6e125cafcec5fc771f0/shared/validation/schemas.ts#L122)

***

### warnings

> **warnings**: `string`[]

Defined in: [shared/validation/schemas.ts:123](https://github.com/Nick2bad4u/Uptime-Watcher/blob/dca5483e793478722cd3e6e125cafcec5fc771f0/shared/validation/schemas.ts#L123)
