name: "Pull Request Labeler"

on:
    pull_request:
        types: [opened, edited, synchronize]

permissions:
    contents: read
    pull-requests: write

jobs:
    label:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Label Pull Request
              uses: actions/labeler@v6
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  configuration-path: .github/labeler.yml
                  sync-labels: true
