# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: "Pull Request Labeler"

on:
    pull_request_target:
        types: [opened, edited, reopened, synchronize]

permissions:
    contents: read
    pull-requests: write

jobs:
    label:
        runs-on: ubuntu-latest
        steps:
            - name: Label Pull Request
              uses: actions/labeler@v6
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  configuration-path: .github/labeler.yml
                  sync-labels: true
