# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: npm audit

on:
    workflow_dispatch:

permissions: write-all

jobs:
    scan:
        name: npm audit
        runs-on: ubuntu-latest
        concurrency:
            group: npm-audit-${{ github.ref }}
            cancel-in-progress: false
        defaults:
            run:
                working-directory: .
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - name: Cache node modules
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              with:
                  path: .node_modules
                  key: ${{ runner.os }}-.-node-modules-${{ hashFiles('.package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-.-node-modules-

            - name: install dependencies
              run: npm install --force
            - uses: oke-py/npm-audit-action@6ec7878c81d7dfe2b3295a63e1a608e9c952f46a # v3.0.0
              with:
                  audit_level: moderate
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  issue_assignees: nick2bad4u
                  issue_labels: vulnerability,test
                  dedupe_issues: true
                  working_directory: .
              continue-on-error: true
