# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: npm audit

on:
    workflow_dispatch:

permissions: write-all

jobs:
    scan:
        name: npm audit
        runs-on: ubuntu-latest
        concurrency:
            group: npm-audit-${{ github.ref }}
            cancel-in-progress: false
        defaults:
            run:
                working-directory: .
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Cache node modules
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  path: .node_modules
                  key: ${{ runner.os }}-.-node-modules-${{ hashFiles('.package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-.-node-modules-

            - name: install dependencies
              run: npm install --force
            - uses: oke-py/npm-audit-action@f02a3cf15e7a1860efac849dd45126f9c2cafe4f # v4.0.1
              with:
                  audit_level: moderate
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  issue_assignees: nick2bad4u
                  issue_labels: vulnerability,test
                  dedupe_issues: true
                  working_directory: .
              continue-on-error: true
