# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Microsoft Security DevOps

on:
    push:
        paths-ignore:
            - "*"
            - "*/**"
            - "!src/**"
            - "**/CHANGELOG.md"
            - "CHANGELOG.md"
    pull_request:
        paths-ignore:
            - "*"
            - "*/**"
            - "!src/**"
            - "**/CHANGELOG.md"
            - "CHANGELOG.md"
    workflow_dispatch:
    schedule:
        - cron: "23 9 * * *" # Every day at 9:23 AM UTC

permissions:
    security-events: write

concurrency:
    group: msdo-${{ github.ref }}
    cancel-in-progress: false

jobs:
    msdo:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Run Microsoft Security DevOps
              uses: microsoft/security-devops-action@d0736c546281e0632667b8e0046ae3d7bba0bf67 # latest
              id: msdo
            - name: Upload results to Security tab
              uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v3.29.5
              with:
                  sarif_file: ${{ steps.msdo.outputs.sarifFile }}
