# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Microsoft Security DevOps

on:
    push:
        paths-ignore:
            - "*"
            - "*/**"
            - "!src/**"
            - "**/CHANGELOG.md"
            - "CHANGELOG.md"
    pull_request:
        paths-ignore:
            - "*"
            - "*/**"
            - "!src/**"
            - "**/CHANGELOG.md"
            - "CHANGELOG.md"
    workflow_dispatch:
    schedule:
        - cron: "23 9 * * *" # Every day at 9:23 AM UTC

permissions:
    security-events: write

concurrency:
    group: msdo-${{ github.ref }}
    cancel-in-progress: false

jobs:
    msdo:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - name: Run Microsoft Security DevOps
              uses: microsoft/security-devops-action@d0736c546281e0632667b8e0046ae3d7bba0bf67 # latest
              id: msdo
            - name: Upload results to Security tab
              uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
              with:
                  sarif_file: ${{ steps.msdo.outputs.sarifFile }}
