# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: TruffleHog Secret Scan

on:
    push:
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: "44 4 * * 0" # Runs every Sunday at midnight UTC; https://crontab.guru/#0_0_*_*_0

permissions:
    contents: read

jobs:
    trufflehog:
        runs-on: ubuntu-latest
        concurrency:
            group: trufflehog-${{ github.ref }}
            cancel-in-progress: false
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
              with:
                  egress-policy: audit

            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
            - name: Secret Scanning (entire repo)
              uses: trufflesecurity/trufflehog@821e8b9e5cdf8dc484dd23e06f78941fcf6b9191 # v3.91.2
              with:
                  base: ""
                  head: ${{ github.ref_name }}
                  extra_args: --results=verified,unknown
