name: TruffleHog Secret Scan

on:
    push:
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: "44 4 * * 0" # Runs every Sunday at midnight UTC; https://crontab.guru/#0_0_*_*_0

permissions:
    contents: read

jobs:
    trufflehog:
        runs-on: ubuntu-latest
        concurrency:
            group: trufflehog-${{ github.ref }}
            cancel-in-progress: false
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
              with:
                  egress-policy: audit

            - name: Checkout code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  fetch-depth: 0
            - name: Secret Scanning (entire repo)
              uses: trufflesecurity/trufflehog@ad6fc8fb446b8fafbf7ea8193d2d6bfd42f45690 # v3.90.11
              with:
                  base: ""
                  head: ${{ github.ref_name }}
                  extra_args: --results=verified,unknown
