# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: TruffleHog Secret Scan

on:
    push:
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: "44 4 * * 0" # Runs every Sunday at midnight UTC; https://crontab.guru/#0_0_*_*_0

permissions:
    contents: read

jobs:
    trufflehog:
        runs-on: ubuntu-latest
        concurrency:
            group: trufflehog-${{ github.ref }}
            cancel-in-progress: false
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - name: Checkout code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                  fetch-depth: 0
            - name: Secret Scanning (entire repo)
              uses: trufflesecurity/trufflehog@aade3bff5594fe8808578dd4db3dfeae9bf2abdc # v3.91.1
              with:
                  base: ""
                  head: ${{ github.ref_name }}
                  extra_args: --results=verified,unknown
