# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Spell Check (typos)

on:
    push:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

concurrency:
    group: typos-${{ github.ref }}
    cancel-in-progress: false

jobs:
    typos:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                  egress-policy: audit

            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Run typos (spell checker)
              uses: crate-ci/typos@65120634e79d8374d1aa2f27e54baa0c364fff5a # v1.42.1
              with:
                  files: |
                      .
                      tests
                      utils
                      .
              continue-on-error: true
