# VSCode Version Matrix - GitHub Action
# Retrieves Electron, Node, and Chromium versions for a given VSCode version

# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: VSCode Version Matrix

on:
    workflow_dispatch:
    schedule:
        - cron: "33 3 1 * *" # Every month at 3:33 AM UTC

concurrency:
    group: vscode-version-${{ github.ref }}
    cancel-in-progress: false

jobs:
    vscode-versions:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit

            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Retrieve VSCode dependency versions
              id: vscode-versions
              uses: EcksDy/vscode-version-matrix@1ea27c0280bf15ba66008d7890a84091b721aca7 # v1.0.1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  version: latest

            - name: Print Output
              run: |
                  echo "vscode-version-name = ${{ steps.vscode-versions.outputs.vscode-version-name }}"
                  echo "vscode-version = ${{ steps.vscode-versions.outputs.vscode-version }}"
                  echo "released-at = ${{ steps.vscode-versions.outputs.released-at }}"
                  echo "electron-version = ${{ steps.vscode-versions.outputs.electron-version }}"
                  echo "node-version = ${{ steps.vscode-versions.outputs.node-version }}"
                  echo "chromium-version = ${{ steps.vscode-versions.outputs.chromium-version }}"
